<div class="secondary-modal fade" id="addIssueModal">
    <div class="sec-modal-dialog modal-fullscreen">
        <div class="modal-body">
            <button type="button" class="btn-close modal-close" data-cs-dismiss="modal" aria-label="Close"></button>
            <h3 class="fs-4">Edit Issue</h3>
            <div class="card mb-1">
                <div class="card-body">
                    <span><b>Selected Issue:</b></span> <span class="selected_spares"></span>
                </div>
            </div>
            <div class="new-issues">
               
            </div>
            <div class="row edit-issue-list">
                
                
            </div>
            
            <div class="card estimation">
                <div class="card-body">
                    <h3 class="fs-5 border-bottom pb-1">Estimated Amount</h3>
                    <p><strong>Balance Amount: </strong><span class="edit-balance-amount"></span></p>
                    <p><strong>Advance Paid: </strong><span class="edit-advance-amount"></span></p>
                    <p><strong>Total Amount: </strong><span class="edit-total-amount"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>