[submodule "backend"]
        path = backend
        url = https://github.com/krishamaze/finetune-ERP-backend
        branch = krishna/implement-phase-a1-admin-api-scaffold

[submodule "frontend"]
	path = frontend
	url = https://github.com/krishamaze/finetune-ERP-frontend
	branch = feature/dashboard-integration
