{% extends 'serviceapp/base.html' %}
{% block 'content' %}
    <main>
        <div class="container pb-5">
            <h1 class="text-center pt-4"> Terms & conditions</h1>
            <h3 class="pt-2 pb-5"> Agreement for Repair</h3>

            <p>
                1.1 The terms set out in these Conditions of Repair (“Agreement”) shall apply to the service (“Service”) we provide to repair your smartphone, tablet, computer and/or any accessories (“Device”) on the service check-in form. <br><br>

                1.2 Reference to “us”, “we” and “our” refer to Mobile Phone Repair Centre and references to “you” and “your” are references to you (“Customer), the person addressed on this form. <br><br><br>
                
                <b> All repairs (unless otherwise stated)</b> <br><br>
                
                2.1 This Agreement shall commence from the date you book a repair and shall continue until we have repaired or otherwise returned your Device, whichever is sooner, and received any payment due from you. <br><br>
                
                2.2 We shall make reasonable efforts to repair your Device subject to the availability of any parts required and/or the terms of any relevant guarantee or warranty. We shall perform the Service using our utmost care and skill. <br><br>

                2.3 We shall use Genuine, OEM or High Quality compatible parts for the repairs of all Devices. <br> <br>

                2.4 We shall require the passcode of your Device in order to test the Device before and after the Service. Should you prefer to keep this information private, we can still proceed with an appointment, but will not be able to perform a full functional check on the Device until you return to the store, which can delay the provision of the Service, if any adjustments need to be made. <br><br>

                2.5 Any time estimate for completion of the service, which may be given to you, is an estimate only and does not form any obligation under the terms of this Agreement. We will aim to return your Device as soon as reasonably possible, however, any Board Level (Level 3) repairs (i.e. repairs to the logic board of the Device) may take at least 5 working days to be completed. <br><br>

                2.6 We shall notify you when the Device has been repaired. If necessary, we shall send a reminder and the device will be recycled if not collected by day 90 to cover our costs. <br><br>

                2.7 If we are unable to complete the Service for any reason, or the Service will incur further costs payable by you beyond that initially estimated by us, we will notify you immediately via telephone and/or email. If no fault is found on your Device or you do not accept our revised estimate, we will return your Device to you unrepaired and we reserve the right to charge you an inspection fee in accordance with our standard charges. <br><br>
                
                2.8 The cost of repair will be calculated where possible in accordance with our standard charges as published from time to time. <br><br>
                
                2.9 We shall be entitled to keep your Device until all charges payable have been paid. We may also charge an additional fee for storage of your Device. <br><br>
                
                2.10 Use of our service may void your manufacturer’s warranty. If you would like to avoid this, then please take your Device directly to the manufacturer. Please note, your manufacturer’s warranty will not cover any accidental damage. <br><br>
                
                2.11 The Mobile Phone Repair Centre may install warranty seals following the repair. Any tampering of the seals will void our warranty. <br><br>
                
                2.12 Our products and repairs are covered by the warranty terms outlined in the table below: <br><br>
                    
                <p class="ps-4">
                    <ul>
                        <li class="pt-3">Repair or Product Type</li>
                        <li class="pt-3">Warranty Term</li>
                        <li class="pt-3">Apple iPhone LCD Screen</li>
                        <li class="pt-3">Lifetime Warranty</li>
                        <li class="pt-3">Battery replacement</li>
                        <li class="pt-3">12 month Warranty</li>
                        <li class="pt-3">Liquid Damage</li>
                        <li class="pt-3">1 month Warranty</li>
                        <li class="pt-3">Software Repair</li>
                        <li class="pt-3">1 month Warranty</li>
                        <li class="pt-3">All other Genuine LCD Screens</li>
                        <li class="pt-3">12 month Warranty (unless otherwise stated)</li>
                    </ul>

                    <h3>Smartphone Logic Board Repair (Level 3)</h3>
                    <ul>
                        <li class="pt-3">1 month Warranty</li>
                        <li class="pt-3">'AAA' Grade Quality LCD Screen</li>
                        <li class="pt-3">1 month Warranty</li>
                    </ul>
                </p>
            </p> 
        </div>
    </main>
{% endblock %}